.redbg {
    -fx-background-color: firebrick;
}

.bluebg {
    -fx-background-color: dodgerblue;
}

.greenbg {
    -fx-background-color: forestgreen;
}

.yellowbg {
    -fx-background-color: yellow;
}