.redbg {
    -fx-background-color: firebrick;
}

.bluebg {
    -fx-background-color: dodgerblue;
}

.greenbg {
    -fx-background-color: forestgreen;
}

.yellowbg {
    -fx-background-color: yellow;
}

.border {
    -fx-border-style: dashed;
    -fx-border-radius: 1px;
}

.aligntop {
    -fx-alignment: top-center;
}